html {
    height: 100%;
}
body {
    background-color: black;
    overflow:hidden;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/* .imgback = back ground img (gif)*/
.imgback {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.imgback img {
    width: 70%;
    justify-content: center;
    align-items: center;
    object-fit:contain;
}

.containerss {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}
@media screen and (max-width: 1190px){
    .containerss {
        flex-direction: column-reverse;
    }
    .container2 {
        width: 100% !important;
        box-sizing: border-box;
    }
}
    

.container1 {
    display: flex;
    flex-direction:row;
    margin-left: 0px;
    position: relative;
    margin-top: 1vh;
    height: 50px;
    right: 0px;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction:row;
    margin-left: 0px;
    position: relative;
    margin-top: 1vh;
    width: 35%;
    height: 50px;
    right: 0px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(192, 192, 192);
    padding-inline: 10px;
}

.container3 {
    display: flex;
    flex-direction:row;
    margin-left: 0px;
    position: relative;
    margin-top: 1vh;
    width: 35%;
    height: 50px;
    right: 0px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(192, 192, 192);
    padding-inline: 10px;
}
.casinhas {
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(192, 192, 192);
}

.casinhas .casinhas-title:hover {
    background-color: rgb(221, 221, 221);
}
.casinhas:first-child {
    border-radius: 5px 0px 0px 5px;
}

.casinhas:last-child {
    border-radius: 0px 5px 5px 0px;

}
.casinhas:last-child:hover {
    border-radius: 0px 5px 0px 0px;

}

.casinhas:nth-child(7):hover + .casinhas{
    border-radius: 0px 5px 0px 0px;
}

.casinhas-title {
    width: 100%;
    display: flex;
    position: relative;
    top: 0%;
    align-items: center;
    height: 50px;
    padding-inline: 16px;
    cursor: pointer;
}

.casinhas-content {
    display: none;
    flex-direction: column;
    background-color: rgb(192, 192, 192);
    position: absolute;
    top: 100%;
    width: max-content;
    min-width: 121px;
    border-radius: 0px 0px 5px 5px;
}

.game .casinhas-content {
    display: none;
}
.casinhas-content a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
.casinhas-content a:hover {
    background-color: rgb(221, 221, 221);
    
}
.casinhas-content a:visited {
    color: black;
    text-decoration: none;
}

.casinhas:hover > .casinhas-content{
    display: flex;
}

.casinhas:nth-child(7):hover > .casinhas-content{
    border-radius: 0px 5px 5px 5px;
}
.casinhas:nth-child(8):hover > .casinhas-content{
    border-radius: 0px 5px 5px 5px;
}
.formSearchBox {
    padding-left: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.inpoutSeachBOX {
    border-radius: 5px;
    background-color: rgba(rgba(255, 255, 255, 0), green, blue, alpha);
    outline: 0;
    border: 0;
    height: 60%;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

/* Remove o X de limpar texto da tag input*/
.inpoutSeachBOX::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.inpoutSeachBOX::placeholder {
    color: rgb(0, 0, 0);
}

.buttonGPT {
    height: 90%;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    flex-shrink: 0;
}

/* Serve para mudar a cor do texto dentro do botão*/
.buttonGPT:visited {
    color: black;
}